# Ignore everything
*

# Allow gitignore itself
!.gitignore

# Allow src folder
!src/

# Ignore everything inside src
src/*

# Allow practice folder (Windows-compatible)
!src/practice/
!src/practice/*

