# Ignore everything
*

# Allow gitignore
!.gitignore

# Allow src folder
!src/

# Ignore everything inside src
src/*

# Allow practice folder and its files
!src/practice/**

# Ignore build/IDE files
.settings/
bin/
.classpath
.project

